<header>
  <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <a class="navbar-brand" href="/">MediYantra</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav mr-auto">
        <li id="hospitals" class="nav-item">
          <a id="hospitals-a" class="nav-link" href="/track">Hospitals</a>
        </li>
        <li id="testing" class="nav-item">
          <a id="testing-a" class="nav-link" href="/search">Testing Centre</a>
        </li>
        <li id="ngo" class="nav-item">
          <a id="ngo-a" class="nav-link" href="/ngo">NGO</a>
        </li>
        <li id="helpline" class="nav-item">
          <a id="helpline-a" class="nav-link" href="/helpline">Helpline</a>
        </li>
        <% if (!login_info) { %>
          
        <% } else { %>
          <li id="details" class="nav-item">
            <a id="details-a" class="nav-link" href="/account">My Details</a>
          </li>
        <% } %>

      </ul>
      <form class="form-inline mt-2 mt-md-0">
        <% if (!login_info) { %>
          <a href="/users/login" class="btn btn-outline-warning my-2 my-sm-0">Login</a>
        <% } else { %>
          <a href="/users/logout" class="btn btn-outline-warning my-2 my-sm-0">Logout</a>
        <% } %>
      </form>
    </div>
  </nav>
</header>