<body class="d-flex flex-column h-100" style="background-color: #f5f5f5;">
  <% include ./partials/header %>
  <main role="main" class="flex-shrink-0">
    <div class="container">
      <% include ./partials/messages %>
      <h1 class="mt-5">Select the service you want </h1>
      <div class="row">
        <div class="col-sm" style="padding: 1%;">
          <div class="card">
            <div class="card-body">
              <h4 class="card-title"  style="padding-bottom:1% ;">Search Hospitals Near Me</h4>
              <p class="card-text">Find the nearest medical facility to you with adequate beds and medical equipments available.</p>
              <a href="/track" class="card-link">Click Here</a>
            </div>
          </div>
        </div>
        <div class="col-sm" style="padding: 1%;">
          <div class="card">
            <div class="card-body">
              <h4 class="card-title"  style="padding-bottom:1% ;">Testing Centres</h4>
              <p class="card-text">Use the database to check COVID-19 testing centres in different regions of the country.</p>
              <a href="/search" class="card-link">Click Here</a>
            </div>
          </div>
        </div>
        <div class="w-100"></div>
        <div class="col-sm" style="padding: 1%;">
          <div class="card">
            <div class="card-body">
              <h4 class="card-title"  style="padding-bottom:1% ;">NGO's</h4>
              <p class="card-text">Contact the NGO's for donating food and other essential items for the needy people.</p>
              <a href="/ngo" class="card-link">Click Here</a>
            </div>
          </div>
        </div>
        <div class="col-sm" style="padding: 1%;">
          <div class="card">
            <div class="card-body">
              <h4 class="card-title" style="padding-bottom:1% ;">General Advice Helpline</h4>
              <p class="card-text">Seek important medical advice from qualified doctors and certified physicians through our helpline.</p>
              <a href="/helpline" class="card-link">Click Here</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
  
  <div class="mt-auto py-3">
    <!--elfsight coronavirus widget-->
    <script src="https://apps.elfsight.com/p/platform.js" defer></script>
    <div class='<%= process.env.elf_dashboard %>'></div>
  </div>

  <% include ./partials/footer %>
</body>
