html, body {
  height: 100%;
  scroll-behavior: smooth;
}

.form-signin {
  width: 100%;
  max-width: 420px;
  padding: 15px;
  margin: auto;
}

.form-label-group {
  position: relative;
  margin-bottom: 1rem;
}

.form-label-group > input, .form-label-group > label {
  height: 3.125rem;
  padding: .75rem;
}

.form-label-group > label {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  margin-bottom: 0; /* Override default `<label>` margin */
  line-height: 1.5;
  color: #495057;
  pointer-events: none;
  cursor: text; /* Match the input under the label */
  border: 1px solid transparent;
  border-radius: .25rem;
  transition: all .1s ease-in-out;
}

.form-label-group input::-webkit-input-placeholder {
  color: transparent;
}

.form-label-group input:-ms-input-placeholder {
  color: transparent;
}

.form-label-group input::-ms-input-placeholder {
  color: transparent;
}

.form-label-group input::-moz-placeholder {
  color: transparent;
}

.form-label-group input::placeholder {
  color: transparent;
}

.form-label-group input:not(:placeholder-shown) {
  padding-top: 1.25rem;
  padding-bottom: .25rem;
}

.form-label-group input:not(:placeholder-shown) ~ label {
  padding-top: .25rem;
  padding-bottom: .25rem;
  font-size: 12px;
  color: #777;
}

/* Fallback for Edge
-------------------------------------------------- */
@supports (-ms-ime-align: auto) {
  .form-label-group > label {
    display: none;
  }
  .form-label-group input::-ms-input-placeholder {
    color: #777;
  }
}

/* Fallback for IE
-------------------------------------------------- */
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  .form-label-group > label {
    display: none;
  }
  .form-label-group input:-ms-input-placeholder {
    color: #777;
  }
}

/*--------------navbar---------------*/
main > .container {
  padding: 60px 15px 0;
}

.footer {
  background-color: #f5f5f5;
}

.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}

code {
  font-size: 80%;
}

/* Map
-----------------------------------*/
#map {
  height: 500px;
  width: 100%;
}

/*.tableMain {
  padding-top: 60px;
  padding-left: 50px;
  padding-right: 50px;
}*/

/*---------contact-form--------------*/
/*body{
  background: -webkit-linear-gradient(left, #0072ff, #00c6ff);
}*/
  .contact-form{
      background: #fff;
      margin-top: 10%;
      margin-bottom: 5%;
      width: 70%;
  }
  .contact-form .form-control{
      border-radius:1rem;
  }
  .contact-image{
      text-align: center;
  }
  .contact-image img{
      border-radius: 6rem;
      width: 11%;
      margin-top: -3%;
      transform: rotate(29deg);
  }
  .contact-form form{
      padding: 14%;
  }
  .contact-form form .row{
      margin-bottom: -7%;
  }
  .contact-form h3{
      margin-bottom: 8%;
      margin-top: -10%;
      text-align: center;
      color: #0062cc;
  }
  .contact-form .btnContact {
      width: 50%;
      border: none;
      border-radius: 1rem;
      padding: 1.5%;
      background: #dc3545;
      font-weight: 600;
      color: #fff;
      cursor: pointer;
  }
  .btnContactSubmit
  {
      width: 50%;
      border-radius: 1rem;
      padding: 1.5%;
      color: #fff;
      background-color: #0062cc;
      border: none;
      cursor: pointer;
  }